{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Password Reset</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
{% block content %}
<body>
 
  <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/cblogo-dark.png' %}" alt="Logo" style="height: 50px; padding-left:1em; padding-top: 1em;"></a>

<div class="row center-align">
<div class="col s6 offset-s3">
<h1>Reset your password</h1>
{% if validlink %}<p>
  Please enter your new password twice:</p>
<form action="." method="post" >
  {{ form.as_p }}
  {% csrf_token %}
  <p><button class="btn waves-effect waves-light" type="submit" name="action">Change Password</button></p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it hasalready been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}